body{
    font-family: "Trebuchet MS",Helvetica , sans-serif;
    background-color: #fff;
}
#principal{
    width: 300px;
    height: 100px;     
}
.botaoMa , .botaoMi{
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom:15px ;    
    cursor: pointer;
    line-height: 2em;
    margin-left: 40px;
    color:rgb(3, 3, 247) ;
    background-color: rgb(226, 240, 247);
    font-weight: bold;
    letter-spacing: 1px;
    border:none;
}
.botaoMa:hover , .botaoMi:hover{
    color: #010a04;
    background-color: rgb(242, 247, 246);
}
#resultado{
    margin-top:15px;
    margin-bottom: 15px;
    height: 65px;
    background-color: rgb(225, 228, 238);
    border-radius: 10px;
    border: solid 1px #000;
}
#text-resultado{
    margin-left: 10px;
    margin-top: 10px;
    cursor:text;
}
#texto{
    border-radius: 10px;
    width: 297px;
    margin-left: 10;
    line-height: 2em;
    border: solid 1px #000;
    cursor: text;
    background-color: rgb(225, 228, 238);
}
h3 {
    text-align: center;
    font-size: 1.5em;
}
hr {
    border:solid 2px rgb(74, 74, 238);
}